.p_timesetting {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  > view {
    width: 100px !important;
    text-align: center;
  }
}

.p_timesetting_h5 {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  > taro-view-core {
    width: 150px !important;
    text-align: center;
    color: #f79e44;
  }
}
