.p_index {
  > view:first-child {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > image {
      width: 250px;
      height: 250px;
    }
  }
  > view:last-child {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    > view {
      width: 200px;
    }
  }
}
