.p_index {
  > view:first-child {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > image {
      width: 250px;
      height: 250px;
    }
  }
  > view:last-child {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    > view {
      width: 200px;
    }
  }

  .at-button--secondary {
    color: gainsboro;
    border: 1px solid gainsboro;
  }

  .p_selectbutton {
    border: 1px solid red;
    color: #f79e44;
  }
}

.p_modal_auth {
  .at-modal__content {
    min-height: unset!important;
  }
  .p_modal_auth_view {
    > view {
      text-align: center;
      min-height:50px;
    }
  }


}

.p_fixed {
  position: fixed;
  right: 20px;
  bottom: 40px;

  .at-fab {
    background-color: #f79e44;
  }
}



