.p_setting {
  > view {
    > view:first-child {
      height: 50px;
      background-color: #f79e44;
      color: white;
      padding-left: 20px;
      display: flex;
      align-items: center;
    }
  }
}
